*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Section Header */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: linear-gradient(135deg, #041d35, #012034);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

nav {
  max-width: 1200px;
  margin: auto;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo img {
  width: 140px;
  height: auto;
  filter: brightness(0) invert(1);
  
}


.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  background: #f1c40f;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #f1c40f;
}

.nav-links li a:hover::after {
  width: 100%;
}


.loginbtn {
  padding: 8px 20px;
  border: none;
  border-radius: 25px;
  background: #f1c40f;
  color: #2c3e50;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;

}

.loginbtn:hover {
  
  color: #3498db;
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);

}


.menu-icon {
  display: none;
  font-size: 26px;
  color: #fff;
  cursor: pointer;

}



@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(44, 62, 80, 0.95);
    flex-direction: column;
    width: 240px;
    padding: 25px 20px;
    border-radius: 0 0 12px 12px;
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
  }

  .nav-links.show {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .nav-links li {
    margin: 12px 0;
  }

  .menu-icon {
    display: block;
  }
}

